body{  
    text-align: center; 
};

.navbar-inverse{
    list-style: none;
    position:fixed;
    margin-top: 0% !important;
    margin-left:0% !important;
    top:0px;
    z-index: 10;
    cursor:pointer;
    font-size: 110%;
};

.myNavbar{
    position: sticky;
    top:0;
    z-index: 9999;
};
button{
    border-radius: 50%;
}

#addButton{
    color: azure;
    background-color: rgb(61, 61, 61);
    border-radius: 20%;
    border-width: 1px;
}


#addToMenu{
    color: azure;
    background-color: rgb(61, 61, 61);
    border-radius: 20%;
    border-width: 1px;
}

#Menu{
    color: azure;
    background-color: rgb(61, 61, 61);
    border-radius: 20%;
    border-width: 1px;
}